<h2>新規書籍登録</h2>
<%= form_for @book do |f| %>
<div>
  書籍名: <%= f.text_field :name %>
</div>
<div>
  価格:   <%= f.number_field :price %>
</div>
<div>
  出版社: <%= f.text_field :publish %>
</div>
<div>
  刊行日: <%= f.date_field :publish_date %>
</div>
  
  <%= f.submit %>
<% end %>